.header
{
    height: 30px;
    border-bottom: 1px solid #EEE;
    background-color: #BF5842;
    height: 40px;
    padding: 5px;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.header .user-options {
    float: right;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

.return{
    float: left;    
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

.header .user-options a, .header .return a{
   color: white;
   text-decoration: none;
}

.products {
  display: flex;
  flex-wrap: wrap;
}

.products {
  display: flex;
  flex-wrap: wrap;
}

.product-card {
  padding: 2%;
  flex-grow: 1;
  flex-basis: 16%;
  display: flex; 
  border: 1px solid #846d6d;
  margin-left: 10px;
  margin-top: 10px;
}

.product-image img {
  max-width: 100%;
}

.product-info {
  margin-top: auto;
}

.car-button {
  background: yellowgreen;
  color: red;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 80%;
    margin: 74px auto;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

.quantity-input{
    width: 61px;
    height: 24px;
    background: #dddddd;
}

.text-center{
    color:white;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.footer
{
margin-bottom: 0;
margin-top: 37px;
margin-left:-5px;
height: 60px;
background-color: #6F2212;
border-top: 1px solid #DDD;
-webkit-border-bottom-right-radius:5px;
-webkit-border-bottom-left-radius:5px;
-moz-border-radius-bottomright:5px;
-moz-border-radius-bottomleft:5px;
border-bottom-right-radius:5px;
border-bottom-left-radius:5px;            
}

@media (max-width: 920px) {
  .product-card {
    flex: 1 21%;
  }
}